* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alert {
    margin-bottom: 0px;
    margin-top: 0.5rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbtn {
    width: 12rem;
    display: flex;
    justify-content: center;
}

.wlcm {
    margin-right: 2rem;
}

.wlcm h2 {
    color: #fff;
}

.navbtn button {
    margin-right: 1rem;
    width: 5rem;
}